/* Google Web Font : Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manrope:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

/* FontAwesome CDN 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Reset Css */
* { box-sizing: border-box; }
ul { list-style: none; }
a { text-decoration: none; }

/* Defaulf Css */
body {
    font-family: 'Montserrat', sans-serif;
    color: #222;
    font-size : 15px;
    margin: 0;
    height: 100vh;
    background-color: #fff;
}

/* 전체 레이아웃 */
.cd-section {
    height: 100vh;
}
.cd-section > div {
    height: 100%;
    position: relative;
}
.content {
    background-color: #ddd;
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 80px);
    left: 20px;
    bottom: 20px;
    overflow: hidden;
}

/* Header */
.header {
    position: fixed;
    width: 100%;
}
.gnb-inner {
    /*border: 1px solid #000;*/
    width: calc(100% - 40px);
    margin: auto;
    height: 60px;
    line-height: 60px;
}
.logo {
    float: left;
}
.logo_image {
    position: relative;
    height: 5vh;
}
.gnb {
    float: right;
}
.menu {
    display: none;
}
.slogan {
    font-size: 18px;
    font-style: italic;
}

/* ################### 홈 ######################## */
.home-inner{
    background-image:url("../images/section_1.JPG");
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 100% 100%;
    height:100%
}
/*############### 인트로 #################*/
.intro-heading hr.bar{
    width: 400px;
    height: 4px;
    border: none;
    background-color: cornflowerblue;

}
.intro-inner{
    height: 100%;
    border: 1px solid #ddd;
}
.intro-inner > div{
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
}
.intro-about{
    background-color: #1a1f24;
    color: #fff;
}
.intro-heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 25px;
    font-family: sans-serif;
    text-align: center;
    width: 65%;
    color: #ddd;
}
.intro-image{
    background-color: #fff;
}
.intro-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    border-radius: 2%;
    box-shadow: 5px 10px 30px 8px grey;
}


/* ################### 어바웃 ######################## */
.about-inner{
    background-image:url("../images/section_about.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    border: 1px solid #ddd;
    background-size:500px;
    background-color: #ffffff;
    background-size: 30% 50%;
    height:100%
}
.intro-name{
    margin-top: 0px;
}
.profile{
    border-radius: 50%;
    width: 18vw;
    height: 30vh;
    margin: 2vw;
}
.aboutName{
    font-size: 40px;
}
.aboutIntro{
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 7vh;
}
.textEvery{
    font-size: 22px;
    font-weight: 900;
}
.intro-item{
    margin-bottom: 20px;
}
.intro-item-div{
    margin-bottom: 30px;
    margin-left: 8vw;
}
.aboutP{
    text-align: initial;
}
.aboutIcon{
    float: left;
    height: 7vh;
    margin-right: 1vw;
}

.aboutSubject{
    font-size: 25px;
    font-weight: 900;
}

/* ################### 스킬 ######################## */
.skill-inner{
    background-color: #1d1b24;
    height: 100%;
}
.skill-feature{
    width: 80%;
    position: absolute;
    /*top: 45%;*/
    left: 50%;
    transform: translate(-50%, 0%);
}
.skill-feature > div{
    height: 300px;
    color: #bbb;
}
.skill-info{}
.skill-info > div {
    float: left;
}
.skill-heading{
    width: 70%;
    padding-right: 50px;
    margin-top: 70px;
}
.skill-heading h2{
    color: #ffffff;
    margin: 0;
}

.level-info hr{
    color: #ffffff;
    margin: 0;
}
.skill-heading hr.bar{
    width: 50px;
    height: 4px;
    border: none;
    background-color: dodgerblue;
    margin: 30px auto;
    display: inline-block;
}
.level-info hr.bar{
    width: 50px;
    height: 4px;
    border: none;
    background-color: dodgerblue;
    margin: 29px auto;
    display: inline-block;
}

.skill-heading p{
    font-size: 22px;
    line-height: 1.5em;
    color: white;
}
.skill-photo{
    width: 30%;
    margin-top: 30px;
}
.skill-photo img{
    height: 30vh;
    width: 20vw;
}
.div-circle{
    width: 300px;
    cursor: pointer;
}
/* #################연락################ */
.sectionText{
    margin: 0;
    text-align: center;
    font-size: 70px;
    font-family: cursive;
    margin-top: 2vh;
}
.contact-inner{
    background-color: #ffffff;
    height: 100%;
    border: 1px solid #ddd;
}
.contact-feature{
    border: 1px solid red;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact-feature > div{
    border: 1px solid #000;
    height: 400px;
    float: left;
    width: 50%;
}
.contact-form{
    font-size: 18px;
    font-weight: 600;
}
.contact-image{
    background-image:url("../images/thank.jpg");
    background-repeat: no-repeat;
    background-size: 550px;
    background-position: center;
}
.contact-mail{
    vertical-align: middle;
    width: 6%;
}
.contactTextarea{
    margin-top: 50px;
    font-size: 20px;
}
.contactA{
    text-decoration: none;
    color: black;
}

/* 페이지 우측 상하버튼 */
.cd-vertical-nav a.cd-prev {
    background-color: dimgray;
}
.cd-vertical-nav a.cd-next {
    background-color: dimgray;
}