/* 레이아웃 */
.project-inner {
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ddd;
}
.tabs {
    height: 100%;
    width: 300%;
    transition: 0.5s;
}
.tab {
    height: 100%;
    float: left;
    width: 33.33333%;
}
.tab > div {
    height: 100%;
    float: left;
}
.project-info {
    width: 25%;
    border-right: 1px solid #ddd;
}
.project-image {
    width: 75%;
    overflow: hidden;
}
.jsp-image{
    width: 100%;
    height: 100%;
}
/* 속성선택자는 띄어쓰기 X */
input[name=tabmenu] {
    display: none;
}
.btn {
    position: absolute;
    left: 0px;
    bottom: 30px;
    width: 25%;
    text-align: center;
}
.btn label{
    cursor: pointer;
    width: 45px;
    height: 9px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
}
.btn label:hover{
    background-color: #31c0ce;
    border-color: transparent;
}
/* checked 가상 클래스 */
input[id=tab1]:checked ~ .btn label[for=tab1] ,
input[id=tab2]:checked ~ .btn label[for=tab2] ,
input[id=tab3]:checked ~ .btn label[for=tab3] {
    background-color: #31c0ce;
    border-color: transparent;
}
input[id=tab1]:checked ~ .tabs {
    margin-left: 0;
}
input[id=tab2]:checked ~ .tabs {
    margin-left: -100%;
}
input[id=tab3]:checked ~ .tabs {
    margin-left: -200%;
}

/* project text */
.project-info {
    padding: 50px;
    position: relative;
}
.project-info h3 {
    font-size: 20px;
    position: relative;
}
.project-info p {
    font-size: 16px;
    line-height: 35px;
}
.detail {
    margin: 50px 0;
}
.detail div {
    display: inline-block;
    text-align: center;
    width: 32.5%;
    color: #999;
}
.detail div span {
    font-size: 23px;
    font-weight: bold;
    display: block;
    color: #000;
    margin-bottom: 15px;
}
.github-div {
    margin: 4.5vw;
}
.github-div-a {
    background-color: #3f3f3f;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    transition: 0.5s;
    width: 200px;
    display: inline-block;
    padding: 10px;
    text-align: center;
}
.github-div-a:hover {
    background-color: #000;
}
/* arrow move */
.github-div-a .fa {
    transition: 0.5s;
}
.github-div-a:hover .fa {
    margin-left: 30px;
}
.project-info:before {
    /* css 속성 */
    content: attr(data-text);
    font-size: 130px;
    color: #eee;
    position: absolute;
    top: -10px;
    left: 10px;
}
.spring-image{
    width: 80%;
    height: 80%;
    margin: 5vw;
}